:root {
  --bg-color: #2b2b2b;
  --secondary-bg-color: #e8d3b6;
  --tertiary-bg-color: #333333;
  --primary-color: #FFC87B;
  --secondary-color: #A79487;
  --scroll-title-color: #070301;
  --scroll-text-color: #2e2a26;
  --light-primary-color: #f8e8d3;
  --faded-primary-color: rgba(255, 200, 123, 0.4);
  --very-faded-primary-color: rgba(255, 200, 123, 0.15);
  --feedback-color: #8b0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background: var(--bg-color);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', cursive;
}

h1, h5 {
  color: var(--primary-color);
}

h3 {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--secondary-color);
}

ul {
  list-style: none;
  padding: 0;
}

li, dt, dd {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--secondary-color);
  list-style: none;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  background: none;
  outline: none;
  cursor: pointer;
}

::-moz-selection {
  background: rgba(255, 200, 123, 0.25);
}

::selection {
  background: rgba(255, 200, 123, 0.25);
}

/* Generic Classes */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 16px;
}

.divider {
  margin: 40px auto;
  height: 1px;
  width: 100%;
  max-width: 50vw;
  background: #79603d;
  box-shadow: 0px 2px 6px #b58f5b;
}

.scrollDivider {
  margin: 24px auto;
  background: var(--secondary-color);
  opacity: .25;
  height: 1px;
  width: 100%;
  max-width: 50vw;
}

.icon {
  width: 50px;
}

.iconShadow {
  width: 80px;
}

@media screen and (max-width: 600px) {
  .hideSm {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .showSm {
    display: none;
  }
}