.achievements {
  margin-top: 28px;
  max-width: 760px;
}

.achievements__intro {
  margin: 12px 0 36px 0;
  text-align: center;
}

.achievements h4 {
  color: var(--primary-color);
  margin-bottom: 12px;
}

.achievements__list {
  margin-bottom: 48px;
}

.achievements__list > dt {
  margin-bottom: 4px;
  font-weight: 700;
}

.achievements__list > dd {
  margin-bottom: 12px;
}
