.findMe {
  margin-bottom: 80px;
}

.findMe__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 24px;
}

.findMe__profilePicture {
  width: 180px;
  border-radius: 50%;
}

.findMe__highlight {
  color: var(--primary-color);
}

@media screen and (max-width: 960px) {
  .findMe {
    margin-bottom: 40px;
  }
  .findMe__content {
    flex-direction: column;
    text-align: center;
  }
  .findMe__profilePicture {
    width: 140px;
    height: 140px;
  }
  .findMe__content {
    margin-top: 12px;
  }
}
