.skills_descriptionContent p {
  margin-bottom: 8px;
}

.skills_descriptionHidden {
  display: none;
}

@media screen and (max-width: 960px) {
  .skills_descriptionContent {
    text-align: center;
  }
  .skills_descriptionContent h5 {
    justify-content: center;
  }
}
